# Logs
/logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# nuxt.js build output
.nuxt

# Nuxt generate
dist

# IDE / Editor
.idea
.vscode
